<div nz-row [nzType]="'flex'">
    <div nz-form-label nz-col [nzSpan]="3">
        <label>标签：</label>
    </div>
    <div nz-col [nzSpan]="9">
        <nz-checkable-tag *ngFor="let tag of tags; let i = index;"
                          [nzClosable]="true"
                          [nzColor]="tag.checked?'#108ee9':'purple'"
                          (nzChange)="tagChecked($event,tag)"
                          [nzChecked]="tag.checked"
                          (nzClose)="handleClose(tag)">
            {{sliceTagName(tag.label)}}
        </nz-checkable-tag>
        <button nz-button *ngIf="!inputVisible"
                [nzSize]="'small'" [nzType]="'dashed'"
                (click)="showInput()">+ New Tag
        </button>
        <input nz-input #input
               *ngIf="inputVisible" type="text"
               [(ngModel)]="inputValue"
               style="width: 78px;"
               (blur)="handleInputConfirm()" (keydown.enter)="handleInputConfirm()"/>
    </div>
</div>
<div nz-row>
    <div nz-form-label nz-col [nzSpan]="3">
        <label>标题：</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
        <nz-input [nzRows]="2" [nzType]="'textarea'" [nzPlaceHolder]="'请输入标题'" [nzSize]="'large'" [(ngModel)]="title">
        </nz-input>
    </div>
</div>
<div nz-row>
    <div nz-form-label nz-col [nzSpan]="3">
        <label>简介：</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
        <nz-input [nzRows]="2" [nzType]="'textarea'" [nzPlaceHolder]="'请输入简介'" [nzSize]="'large'" [(ngModel)]="shortCuts">
        </nz-input>
    </div>
</div>

<div nz-row [nzType]="'flex'" style="margin-top: 8px;">
    <div nz-form-label nz-col [nzSpan]="12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Markdown</h3>
            </div>
            <div class="panel-body">
                <textarea class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="editorContent" style="overflow-y:auto; height: 72vh"></textarea>
            </div>
        </div>

    </div>
    <div nz-form-label nz-col [nzSpan]="12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">HTML</h3>
            </div>
            <div class="panel-body" style="overflow-y:auto; height: 72vh;">
                <markdown [data]="editorContent">
                </markdown>
            </div>
        </div>
    </div>
</div>

<div nz-row [nzType]="'flex'" [nzJustify]="'end'" style="margin-top: 8px;align-content: flex-end">
    <div nz-col [nzSpan]="22"></div>
    <div nz-col [nzSpan]="2">
        <button *ngIf="this.isAdd"   nz-button nzType="primary" nzSize="large" (click)="save()" >添加 </button>
        <button *ngIf="!this.isAdd"   nz-button nzType="primary" nzSize="large" (click)="update()" >修改 </button>
    </div>
</div>